body {
    background-color: aquamarine;
}

div.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 400px auto;
}

div.container {
    border-radius: 2rem;
    padding: 15px;
    background-color: beige;
    display: flex;
    flex-direction: column;
    margin: 10px;
}

div.container > *{
    padding-right: 10px;
}

